<div>
    <div class="row">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col-sm">
            <div class="card my-3" id="welcome-card">
                <div class="card-body">
                    <h5 class="card-title">Welcome to Paragon Painting.</h5>
                    <p class="card-text">New users must register for their account. Registered users can login below.</p>
                    <%= link_to "Register here!", registration_path, class: "btn btn-outline-primary" %>
                    <%= link_to "Login",login_path, class: "btn btn-primary" %>  
                </div>
            </div>
        </div>
    </div> 
</div>