<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <h3>Your current projects:</h3>
            <% if @projects.any? %>
            <% @projects.each do |project| %>
                <div class="my-3">
                    <%= link_to project.name, project_path(project), class: "btn btn-secondary" %>
                </div>
            <% end %>
            <% else %>
                <h5>No projects, yet.</h5>
            <% end %>
        </div>
    </div>
</div>