<div>
    <h3>Your current projects:</h3>
    <% if @projects.any? %>
        <% @projects.each do |project| %>
            <%= link_to project.name, project_path(project), class: "my-3" %>
        <% end %>
    <% else %>
        <h5>No projects, yet.</h5>
    <% end %>
</div>