<div class="container">
    <div class="row my-5">
        <h3>Hi, <%= current_user.name %> </h3>
        <h5>This is your dashboard.</h5>
    </div>
</div>
<div class="my-5 p-3">
    <% if current_user.admin? %>
        <%= render 'admin_dash' %>
    <% else %>
        <%= render 'employee_dash' %>
    <% end %>
</div>